<link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="<%=assetPath('css/sign_in.css')  %>" rel="stylesheet">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="/users/create-session" method="post">
        <h3>Login Here</h3>

        <label for="Email">Email</label>
        <input type="email" name = "email" id="email" placeholder="Enter Email" id="email">

        <label for="password">Password</label>
        <input type="password" name = "password" placeholder="Enter Password" id="password">

        <button type="submit">Sign In</button>
        <span id = "sign-up">Don't have account?&nbsp;<a href="/users/sign-up">Sign Up</a></span><br>
        <!-- <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div> -->
    </form>