#layout-footer{
    color: white;
    a{
        color: white;
        text-decoration: none;
    }

    background: #CA741B;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;

    .footer-nav{
        ul{
            display: flex;
            list-style: none;
        }
        li{
            margin-right: 10px;
        }
    }
}