#home-container{
    display:flex;
    height:100%;
   
    // background-color:red;
    #feed-posts{
        margin-left: 12%;
        width:60%;
        height: 90vh;
        // overflow-y: scroll;
        display: inline-block;
        padding:10px;
        border-left:1px solid grey;
        overflow-y: scroll;
        
    }
    #user-friends-section{
        width:30%;
        display: inline-block;
        display: flex;
        flex-direction: column;
        padding:10px;
        // border:1px solid grey;
        .user-freinds{
            background-color: yellow;
        }
        
    }
}