body{
    margin: 0;
    /* text-align: center; */
    .main-container{
        display:flex;
        flex-direction: column;
    }
    #layout-main{
       height: 100%;
       margin-top:5%;
       min-height: 90vh;
    }
    #footer-container{
       // margin-top:90%;
    }
    #header-container{
       position:fixed;
        width: 100%;
       // display: block;
    }
}