body{
    margin: 0;
    /* text-align: center; */
    .main-container{
        display:flex;
        flex-direction: column;
    }
    
    #layout-main{
       height: 100%;
       min-height: 90vh;
       ::-webkit-scrollbar {
         width: 0;  /* Remove scrollbar space */
         background: transparent;  /* Optional: just make scrollbar invisible */
     }
    }
    #footer-container{
       // margin-top:90%;
       font-size:0.8rem;
    }
    #header-container{
        width: 100%;
        font-size:0.8rem;
       // display: block;
    }
}

//media Queries
@media only screen and (min-width: 768px){
    #user-friends-section{
        display: none!important;
    }
}