#home-container {
  display: flex;
  height: 100%; }
  #home-container #feed-posts {
    margin-left: 12%;
    width: 60%;
    height: 90vh;
    display: inline-block;
    padding: 10px;
    border-left: 1px solid grey;
    overflow-y: scroll; }
  #home-container #user-friends-section {
    width: 30%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    padding: 10px; }
    #home-container #user-friends-section .user-freinds {
      background-color: yellow; }
