body {
  margin: 0;
  /* text-align: center; */ }
  body .main-container {
    display: flex;
    flex-direction: column; }
  body #layout-main {
    height: 100%;
    min-height: 90vh; }
    body #layout-main ::-webkit-scrollbar {
      width: 0;
      /* Remove scrollbar space */
      background: transparent;
      /* Optional: just make scrollbar invisible */ }
  body #footer-container {
    font-size: 0.8rem; }
  body #header-container {
    width: 100%;
    font-size: 0.8rem; }

@media only screen and (max-width: 600px) {
  #user-friends-section {
    display: none !important; }
  #feed-posts {
    width: 100%; }
    #feed-posts #user-profile-pic-posts {
      height: 3%;
      width: 4%;
      border-radius: 50%;
      overflow: hidden;
      display: inline-block; }
      #feed-posts #user-profile-pic-posts img {
        width: 100%;
        height: 100%; } }
